<div class="jumbotron jumbotron-fluid naslovna" style="margin-bottom: 0;">
    <div class="container">
        <h1 style=" font-family: Anton, sans-serif">{{glavaStrani.naslov}}</h1>
        <p style="text-align: center;">{{glavaStrani.podnaslov}}</p>
    </div>
</div>

<nav class="floating-menu">
    <ul class="main-menu">
        <li>
            <a href="../" class="ripple">
                <i class="fas fa-home fa-lg"></i>
            </a>
        </li>
        <li>
            <a href="../kosarica/{{Placilo._id}}" class="ripple">
                <i class="fas fa-shopping-basket fa-lg"></i>
            </a>
        </li>

        <li>
            <a href="../narocilo/placilo" class="ripple">
                <i class="fas fa-money-check fa-lg"></i>
            </a>
        </li>
    </ul>
    <div class="menu-bg"></div>
</nav>

<div class="text-center star "> {{{zvezdice glavaStrani.ocena}}}</div>


<!--<div class="container">-->

<!--    <input class="form-control" id="anythingSearch" type="text" placeholder="Iskanje izdelkov">-->
<!--</div>-->

<div class="container">
    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Skoči na</button>
        <div id="myDropdown" class="dropdown-content">
            <input type="text" placeholder="Išči.." id="myInput" onkeyup="filterFunction()">
            <a href="#mostpopular">Najbolj priljubljene jedi</a>
            <a href="#menu">Menu</a>

        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Izdelek uspešno dodan v košarico!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               Vaš izdelek je bil uspešno dodan v košarico. Sedaj lahko nadaljujete z izbiro oziroma se premaknete v vašo košarico.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zapri</button>
                <button type="button" class="btn btn-primary">Nadaljuj na košarico</button>
            </div>
        </div>
    </div>
</div>

<!--<button type="button" class="btn btn-primary btn-lg premikanje-levo">Pojdi na plačilo</button>
<button type="button" class="btn btn-primary btn-lg premikanje-desno">Pojdi v košarico</button>
-->

<div class="container">
    <p class="mostpopular" id="mostpopular">{{mostPopular.keyword}}</p>

    <div class="row text-center">
        {{#each mostPopular.artikel as |artikel|}}
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">


            <div class="card " style="width:100% ">
                <span class="notify-badge">{{artikel.cena}}&euro;</span>
                <img alt="Card image" class="card-img-top "
                     src="{{artikel.slika}}">
                <div class="collapse" id="{{#replace " " "_"}}{{artikel.naziv}}{{/replace}}">
                    <div class="card card-body">
                        Alergeni: {{alergeni artikel.alergeni}}
                    </div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{artikel.naziv}}</h4>
                    <p class="card-text">{{artikel.opis}}</p>
                    <a class="btn btn-primary"  href="#" data-toggle="modal" data-target="#exampleModal">Naroči</a>
                    <a class="btn btn-primary informacije" data-toggle="collapse" href="#{{#replace " " "_"}}{{artikel.naziv}}{{/replace}}" role="button"
                       aria-expanded="false" aria-controls="{{#replace " " "_"}}{{artikel.naziv}}{{/replace}}">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                            <circle cx="8" cy="4.5" r="1"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>


    {{/each}}

</div>

</div>


<div class="container ">


    <p class="mostpopular" id="menu">{{menuVse.keyword}}</p>

    <div class="row">
    {{#each menuVse.artikel as |artikel|}}
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="card">
                <div class="card-horizontal">
                    <span class="notify-badge">{{artikel.cena}}&euro;</span>
                    <div class="img-square-wrapper">
                        <img alt="Card image cap"
                             class="slikamenu"
                             src="{{artikel.slika}}">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{artikel.naziv}}</h4>
                        <p class="card-text">{{artikel.opis}}</p>
                    </div>
                </div>
                <div class="collapse" id="{{#replace " " "_"}}{{artikel.naziv}}{{/replace}}">
                    <div class="card card-body">
                        Alergeni: {{alergeni artikel.alergeni}}
                    </div>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary naroci"
                       title="Dodaj v košarico" data-toggle="modal" data-target="#exampleModal" href="#">Naroči</a>
                    <a class="btn btn-primary informacije" data-toggle="collapse" href="#{{#replace " " "_"}}{{artikel.naziv}}{{/replace}}" role="button"
                       aria-expanded="false" aria-controls="{{#replace " " "_"}}{{artikel.naziv}}{{/replace}}">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                            <circle cx="8" cy="4.5" r="1"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    {{/each}}
    </div>
</div>
<script src="/javascripts/dropdown.js"></script>
<script src="/javascripts/potrdiloHrane.js"></script>




<!--    <p class="mostpopular">Predjedi</p>

    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="card">
                <div class="card-horizontal">
                    <span class="notify-badge">7&euro;</span>
                    <div class="img-square-wrapper">
                        <img alt="Card image cap"
                             class="slikamenu"
                             src="https://urbanremedy.com/wp-content/uploads/SweetPotatoHummus_PDS.png"></div>
                    <div class="card-body">
                        <h4 class="card-title">Satem</h4>
                        <p class="card-text">Okusite najboljše kar naš okoliš lahko ponudi in dopustite, da Vas okusi
                            prevzamejo</p>
                    </div>
                </div>
                <div class="collapse" id="pred-1">
                    <div class="card card-body">
                        Alergeni: 1,3,6,9
                    </div>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary naroci" data-toggle="tooltip" data-placement="top"
                       title="Dodaj v košarico" href="#">Naroči</a>
                    <a class="btn btn-primary informacije" data-toggle="collapse" href="#pred-1" role="button"
                       aria-expanded="false" aria-controls="pred-1">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                            <circle cx="8" cy="4.5" r="1"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>


        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="card">
                <div class="card-horizontal">
                    <span class="notify-badge">7&euro;</span>
                    <div class="img-square-wrapper">
                        <img alt="Card image cap"
                             class="slikamenu"
                             src="https://urbanremedy.com/wp-content/uploads/SweetPotatoHummus_PDS.png"></div>
                    <div class="card-body">
                        <h4 class="card-title">Satem</h4>
                        <p class="card-text">Okusite najboljše kar naš okoliš lahko ponudi in dopustite, da Vas okusi
                            prevzamejo</p>
                    </div>
                </div>
                <div class="collapse" id="pred-2">
                    <div class="card card-body">
                        Alergeni: 1,3,6,9
                    </div>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary naroci" data-toggle="tooltip" data-placement="top"
                       title="Dodaj v košarico" href="#">Naroči</a>
                    <a class="btn btn-primary informacije" data-toggle="collapse" href="#pred-2" role="button"
                       aria-expanded="false" aria-controls="pred-2">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                            <circle cx="8" cy="4.5" r="1"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>


        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="card">
                <div class="card-horizontal">
                    <span class="notify-badge">7&euro;</span>
                    <div class="img-square-wrapper">
                        <img alt="Card image cap"
                             class="slikamenu"
                             src="https://urbanremedy.com/wp-content/uploads/SweetPotatoHummus_PDS.png"></div>
                    <div class="card-body">
                        <h4 class="card-title">Satem</h4>
                        <p class="card-text">Okusite najboljše kar naš okoliš lahko ponudi in dopustite, da Vas okusi
                            prevzamejo</p>
                    </div>
                </div>
                <div class="collapse" id="pred-3">
                    <div class="card card-body">
                        Alergeni: 1,3,6,9
                    </div>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary naroci" data-toggle="tooltip" data-placement="top"
                       title="Dodaj v košarico" href="#">Naroči</a>
                    <a class="btn btn-primary informacije" data-toggle="collapse" href="#pred-3" role="button"
                       aria-expanded="false" aria-controls="pred-3">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                            <circle cx="8" cy="4.5" r="1"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="card">
                <div class="card-horizontal">
                    <span class="notify-badge">7&euro;</span>
                    <div class="img-square-wrapper">
                        <img alt="Card image cap"
                             class="slikamenu"
                             src="https://urbanremedy.com/wp-content/uploads/SweetPotatoHummus_PDS.png"></div>
                    <div class="card-body">
                        <h4 class="card-title">Satem</h4>
                        <p class="card-text">Okusite najboljše kar naš okoliš lahko ponudi in dopustite, da Vas okusi
                            prevzamejo</p>
                    </div>
                </div>
                <div class="collapse" id="pred-4">
                    <div class="card card-body">
                        Alergeni: 1,3,6,9
                    </div>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary naroci" data-toggle="tooltip" data-placement="top"
                       title="Dodaj v košarico" href="#">Naroči</a>
                    <a class="btn btn-primary informacije" data-toggle="collapse" href="#pred-4" role="button"
                       aria-expanded="false" aria-controls="pred-4">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                            <circle cx="8" cy="4.5" r="1"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <p class="mostpopular">Glavne jedi</p>


    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="card">
                <div class="card-horizontal">
                    <span class="notify-badge">10&euro;</span>
                    <div class="img-square-wrapper">
                        <img alt="Card image cap" class="slikamenu"
                             src="http://www.pngmart.com/files/5/Hamburger-PNG-Transparent-Image.png"></div>
                    <div class="card-body">
                        <h4 class="card-title">Burger</h4>
                        <p class="card-text">Pravi ameriški burger, z 100% slovensko govedino, slanino in domačo
                            omako.</p>
                    </div>
                </div>
                <div class="collapse" id="main-1">
                    <div class="card card-body">
                        Alergeni: 1,3,6,9
                    </div>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary naroci" data-toggle="tooltip" data-placement="top"
                       title="Dodaj v košarico" href="#">Naroči</a>
                    <a class="btn btn-primary informacije" data-toggle="collapse" href="#main-1" role="button"
                       aria-expanded="false" aria-controls="main-1">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                            <circle cx="8" cy="4.5" r="1"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>


        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="card">
                <div class="card-horizontal">
                    <span class="notify-badge">10&euro;</span>
                    <div class="img-square-wrapper">
                        <img alt="Card image cap" class="slikamenu"
                             src="http://www.pngmart.com/files/5/Hamburger-PNG-Transparent-Image.png"></div>
                    <div class="card-body">
                        <h4 class="card-title">Burger</h4>
                        <p class="card-text">Pravi ameriški burger, z 100% slovensko govedino, slanino in domačo
                            omako.</p>
                    </div>
                </div>
                <div class="collapse" id="main-2">
                    <div class="card card-body">
                        Alergeni: 1,3,6,9
                    </div>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary naroci" data-toggle="tooltip" data-placement="top"
                       title="Dodaj v košarico" href="#">Naroči</a>
                    <a class="btn btn-primary informacije" data-toggle="collapse" href="#main-2" role="button"
                       aria-expanded="false" aria-controls="main-2">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                            <circle cx="8" cy="4.5" r="1"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>


        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="card">
                <div class="card-horizontal">
                    <span class="notify-badge">10&euro;</span>
                    <div class="img-square-wrapper">
                        <img alt="Card image cap" class="slikamenu"
                             src="http://www.pngmart.com/files/5/Hamburger-PNG-Transparent-Image.png"></div>
                    <div class="card-body">
                        <h4 class="card-title">Burger</h4>
                        <p class="card-text">Pravi ameriški burger, z 100% slovensko govedino, slanino in domačo
                            omako.</p>
                    </div>
                </div>
                <div class="collapse" id="main-3">
                    <div class="card card-body">
                        Alergeni: 1,3,6,9
                    </div>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary naroci" data-toggle="tooltip" data-placement="top"
                       title="Dodaj v košarico" href="#">Naroči</a>
                    <a class="btn btn-primary informacije" data-toggle="collapse" href="#main-3" role="button"
                       aria-expanded="false" aria-controls="main-3">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                            <circle cx="8" cy="4.5" r="1"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="card">
                <div class="card-horizontal">
                    <span class="notify-badge">10&euro;</span>
                    <div class="img-square-wrapper">
                        <img alt="Card image cap" class="slikamenu"
                             src="http://www.pngmart.com/files/5/Hamburger-PNG-Transparent-Image.png"></div>
                    <div class="card-body">
                        <h4 class="card-title">Burger</h4>
                        <p class="card-text">Pravi ameriški burger, z 100% slovensko govedino, slanino in domačo
                            omako.</p>
                    </div>
                </div>
                <div class="collapse" id="main-4">
                    <div class="card card-body">
                        Alergeni: 1,3,6,9
                    </div>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary naroci" data-toggle="tooltip" data-placement="top"
                       title="Dodaj v košarico" href="#">Naroči</a>
                    <a class="btn btn-primary informacije" data-toggle="collapse" href="#main-4" role="button"
                       aria-expanded="false" aria-controls="main-4">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                            <circle cx="8" cy="4.5" r="1"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <p class="mostpopular">Solate</p>


    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="card">
                <div class="card-horizontal">
                    <span class="notify-badge">5&euro;</span>
                    <div class="img-square-wrapper">
                        <img alt="Solata"
                             class="slikamenu"
                             src="http://www.pngall.com/wp-content/uploads/2016/05/Salad-Free-Download-PNG.png"></div>
                    <div class="card-body">
                        <h4 class="card-title">Vegi solata</h4>
                        <p class="card-text">Tako naravna in dobra solata, da boste ostali vegeterijanci za zmeraj</p>
                    </div>
                </div>
                <div class="collapse" id="solate-1">
                    <div class="card card-body">
                        Alergeni: 1,3,6,9
                    </div>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary naroci" data-toggle="tooltip" data-placement="top"
                       title="Dodaj v košarico" href="#">Naroči</a>
                    <a class="btn btn-primary informacije" data-toggle="collapse" href="#solate-1" role="button"
                       aria-expanded="false" aria-controls="solate-1">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                            <circle cx="8" cy="4.5" r="1"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>


        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="card">
                <div class="card-horizontal">
                    <span class="notify-badge">5&euro;</span>
                    <div class="img-square-wrapper">
                        <img alt="Solata"
                             class="slikamenu"
                             src="http://www.pngall.com/wp-content/uploads/2016/05/Salad-Free-Download-PNG.png"></div>
                    <div class="card-body">
                        <h4 class="card-title">Vegi solata</h4>
                        <p class="card-text">Tako naravna in dobra solata, da boste ostali vegeterijanci za zmeraj</p>
                    </div>
                </div>
                <div class="collapse" id="solate-2">
                    <div class="card card-body">
                        Alergeni: 1,3,6,9
                    </div>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary naroci" data-toggle="tooltip" data-placement="top"
                       title="Dodaj v košarico" href="#">Naroči</a>
                    <a class="btn btn-primary informacije" data-toggle="collapse" href="#solate-2" role="button"
                       aria-expanded="false" aria-controls="solate-2">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                            <circle cx="8" cy="4.5" r="1"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>

    </div>


    <p class="mostpopular">Sladice</p>


    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="card">
                <div class="card-horizontal">
                    <span class="notify-badge">5&euro;</span>
                    <div class="img-square-wrapper">
                        <img alt="Torta" class="slikamenu" src="https://i.dlpng.com/static/png/6444299_preview.png">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Satemček</h4>
                        <p class="card-text">Sladke sanje vsakega pravega gurmana v obliki tortice z svežim sadjem</p>
                    </div>
                </div>
                <div class="collapse" id="des-1">
                    <div class="card card-body">
                        Alergeni: 1,3,6,9
                    </div>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary naroci" data-toggle="tooltip" data-placement="top"
                       title="Dodaj v košarico" href="#">Naroči</a>
                    <a class="btn btn-primary informacije" data-toggle="collapse" href="#des-1" role="button"
                       aria-expanded="false" aria-controls="des-1">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                            <circle cx="8" cy="4.5" r="1"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>


        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="card">
                <div class="card-horizontal">
                    <span class="notify-badge">5&euro;</span>
                    <div class="img-square-wrapper">
                        <img alt="Torta" class="slikamenu" src="https://i.dlpng.com/static/png/6444299_preview.png">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Satemček</h4>
                        <p class="card-text">Sladke sanje vsakega pravega gurmana v obliki tortice z svežim sadjem</p>
                    </div>
                </div>
                <div class="collapse" id="des-2">
                    <div class="card card-body">
                        Alergeni: 1,3,6,9
                    </div>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary naroci" data-toggle="tooltip" data-placement="top"
                       title="Dodaj v košarico" href="#">Naroči</a>
                    <a class="btn btn-primary informacije" data-toggle="collapse" href="#des-2" role="button"
                       aria-expanded="false" aria-controls="des-2">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                            <circle cx="8" cy="4.5" r="1"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>


        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="card">
                <div class="card-horizontal">
                    <span class="notify-badge">5&euro;</span>
                    <div class="img-square-wrapper">
                        <img alt="Torta" class="slikamenu" src="https://i.dlpng.com/static/png/6444299_preview.png">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Satemček</h4>
                        <p class="card-text">Sladke sanje vsakega pravega gurmana v obliki tortice z svežim sadjem</p>
                    </div>
                </div>
                <div class="collapse" id="des-3">
                    <div class="card card-body">
                        Alergeni: 1,3,6,9
                    </div>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary naroci" data-toggle="tooltip" data-placement="top"
                       title="Dodaj v košarico" href="#">Naroči</a>
                    <a class="btn btn-primary informacije" data-toggle="collapse" href="#des-3" role="button"
                       aria-expanded="false" aria-controls="des-3">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                            <circle cx="8" cy="4.5" r="1"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="card">
                <div class="card-horizontal">
                    <span class="notify-badge">5&euro;</span>
                    <div class="img-square-wrapper">
                        <img alt="Torta" class="slikamenu" src="https://i.dlpng.com/static/png/6444299_preview.png">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Satemček</h4>
                        <p class="card-text">Sladke sanje vsakega pravega gurmana v obliki tortice z svežim sadjem</p>
                    </div>
                </div>
                <div class="collapse" id="des-4">
                    <div class="card card-body">
                        Alergeni: 1,3,6,9
                    </div>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary naroci" data-toggle="tooltip" data-placement="top"
                       title="Dodaj v košarico" href="#">Naroči</a>
                    <a class="btn btn-primary informacije" data-toggle="collapse" href="#des-4" role="button"
                       aria-expanded="false" aria-controls="des-4">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                            <circle cx="8" cy="4.5" r="1"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div> -->